<div mat-dialog-title>
    <h1>Employee Form</h1>
    <h1>Reactive Form Validation with Regex</h1>
<p>Value: {{ empForm.value | json }}</p>
<p>Valid: {{ empForm.valid | json }}</p>
</div>

<!-- -->

<form [formGroup]="empForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="content">
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>First name</mat-label>
                <input matInput type="text" placeholder="Ex. Technical" formControlName="firstName">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Last Name</mat-label>
                <input matInput placeholder="Ex. Babaji" formControlName="lastName">
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input matInput type="email" placeholder="Ex. test@gmail.com" formControlName="email">
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Date of birth</mat-label>
                <input matInput [matDatepicker]="picker" placeholder="dd.mm.YYYY" formControlName="dob">
                <mat-hint>dd.MM.yyyy</mat-hint>
                <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-radio-group aria-label="Select an option" formControlName="gender">
                <mat-label><b>Gender</b></mat-label>
                <mat-radio-button value="male">male</mat-radio-button>
                <mat-radio-button value="female">female</mat-radio-button>
                <mat-radio-button value="others">others</mat-radio-button>
            </mat-radio-group>
        </div>

        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Education</mat-label>
                <mat-select formControlName="education">
                    <mat-option *ngFor="let val of education" [value]="val">{{val}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Company</mat-label>
                <input matInput placeholder="Ex. Google" formControlName="company">
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="outline">
                <mat-label>Experience</mat-label>
                <input matInput placeholder="Ex. 4" type="number"  formControlName="experience">
                <mat-error *ngIf="checkError('experience', 'required')"> Experience is required</mat-error>
          <mat-error *ngIf="checkError('experience', 'min')">Experience must be greater then 0</mat-error>
          <mat-error *ngIf="checkError('experience', 'max')">Experience can't be greater than 200</mat-error>
            </mat-form-field>
            <mat-form-field appearance="outline">
                <mat-label>Package</mat-label>
                <input matInput placeholder="Ex. 12" type="number" step="1" formControlName="package">
                 <mat-error *ngIf="checkError('package', 'min')">Package must be greater then 0</mat-error>
                <mat-error *ngIf="checkError('package', 'max')">Package can't be greater than 200</mat-error>
                <mat-hint>In rupees</mat-hint>
            </mat-form-field>
        </div>
    </div>
    <div mat-dialog-actions class="action">
        <button mat-raised-button type="button" [mat-dialog-close]="false">Cancel</button>
        <button mat-raised-button color="primary" type="submit">{{data ? 'Update': 'Save'}}</button>
    </div>
</form>